#define IDR_VERSION 1
IDR_VERSION VERSIONINFO
FILEVERSION 2,8,6,0
PRODUCTVERSION 2,8,6,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "2.8.6\0"
      VALUE "ProductVersion", "2.8.6\0"
      VALUE "CompanyName", "http://wxlua.sf.net\0"
      VALUE "FileDescription", "wxLua 2.8.6 (cvs-2007-12-18) wxWidgets-2.8.7\0"
      VALUE "InternalName", "wxLua\0"
      VALUE "OriginalFilename", "wx\0"
      VALUE "ProductName", "wxLua\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
